{% extends 'base.html.twig' %}

{% block body %}
    <h1>Autor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ autor.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ autor.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ autor.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="admin_botoes">
        <li>
            <a href="{{ path('autor_index') }}" class="btn btn-default">Voltar</a>
        </li>
        <li>
            <a href="{{ path('autor_edit', { 'id': autor.id }) }}" class="btn btn-default">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
