{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contatos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Mensagem</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contato in contatos %}
            <tr>
                <td><a href="{{ path('admin_contato_show', { 'id': contato.id }) }}">{{ contato.id }}</a></td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.mensagem }}</td>
                <td>{% if contato.data %}{{ contato.data|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_contato_show', { 'id': contato.id }) }}">Ver</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
