{% extends 'AppBundle:Site:base.html.twig' %}

{% block body %}
        <!-- Page Titles & Slider or image -->
        <section class="main-row main-row-slim">
            <div class="main-header">
                <!-- Loading Spinner -->
                <div id="spinner" class="spinner">
                    <div class="wBall" id="wBall_1">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_2">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_3">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_4">
                        <div class="wInnerBall">
                        </div>
                    </div>
                    <div class="wBall" id="wBall_5">
                        <div class="wInnerBall">
                        </div>
                    </div>
                </div>
                <!--/ Loading Spinner -->

                <!-- Alternative site Logo, appears only on Home Page -->
                <div class="site-logo-alt invisible">Wagner Favale<span>Personal Trainer</span></div>
                <!--/ Alternative site Logo, appears only on Home Page -->

                <!-- Main Slider -->
                <div id="main-slider" class="main-slider carousel slide fade-effect invisible">
                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        {% for banner in banners %}
                            <!-- Item -->
                            {% if loop.first %}
                                <section class="active item" style="background-image: url(uploads/{{ banner.foto }});">
                            {% else %}
                                <section class="item" style="background-image: url(uploads/{{ banner.foto }});">
                            {% endif %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h1 class="page-title" data-animate-in="fadeInLeft" data-animate-out="fadeOutLeft">{{ banner.frase }} </h1>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="page-desc" data-animate-in="fadeInRight" data-animate-out="fadeOutRight">
                                                {{ banner.descricao }}
                                            <span class="angle"></span></div>
                                            <a href="{{ path('formContato') }}" class="btn" data-animate-in="fadeInUp" data-animate-out="fadeOutDown"><span>Entrar em contato</span></a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--/ Item -->
                        {% endfor %}
                    </div>
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                        {% for numero in range(0,banners|length-1) %}
                            {% if loop.first %}
                                <li data-target="#main-slider" data-slide-to="{{numero}}" class="active"></li>
                            {% else %}
                            <li data-target="#main-slider" data-slide-to="{{numero}}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#main-slider" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#main-slider" data-slide="next">&rsaquo;</a>
                </div>
                <!--/ Main Slider -->
            </div>
        </section>
        <!--/ Page Titles & Slider or image -->

        <!-- Featured Workout -->
        <section class="main-row">
            <div class="container">
                <div class="row workout-featured">
                    <div class="col-md-1">
                        <img class="man" src="images/man.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="section-title-before">Método</div>
                        <h2 class="section-title">Treinamento da Consciência Física</h2>
                        <div class="section-desc"><p>Sabemos que a renovação do comportamento corporal não é tão fácil, depende de observação e profundo conhecimento de si mesmo, qualidades que não conseguimos alcançar sem consciência corporal, treinamento e orientação especializada. É por isso que, nós interagimos nas relações interpessoais, no habitat e orientando para que “a consciência de nossos alunos seja a sua prevenção", por meio do "Treinamento da Consciência Física", proporcionando a melhora na qualidade de vida. 
                        </p>
                        <a href="http://www.conscienciafisica.com.br/" class="btn" data-animate-in="fadeInUp" data-animate-out="fadeOutDown" target="_blank"><span>Detalhes do treinamento</span></a>
                        </div>
                       
                    </div>
                    <div class="col-md-7">
                        <ul class="workout-exercises">
                            <li>
                                <h4>Reversão da Dor</h4>
                                <p>Para o tratamento da dor é usada a terapia por onda de choque realizado pelo médico e a manipulação digito pressão pelo Personal Trainer para ocorrer a desativação dos pontos gatilho da dor.</p>
                            </li>
                            <li>
                                <h4>Ativações musculares</h4>
                                <p>São atividades dirigidas e conscientes que levam ao recrutamento da musculatura estabilizadora do corpo, musculatura responsável pela integridade postural. Exercícios simples de baixa intensidade feitos diariamente com objetivo de amenizar o quadro de dor e reabilitação da funcionalidade natural.
                                </p>
                            </li>
                            <li>
                                <h4>Treinamento personalizado</h4>
                                <p>Nossa equipe de Personal Trainers elabora o treinamento personalizado, de acordo com as necessidades e expectativas de seus alunos, através do autoconhecimento, promovemos um treinamento consciente que possibilita autonomia no campo físico-laboral, ocupacional e desportivo. </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Featured Workout -->

        <!-- PostList Slider -->
        <section class="main-row main-row-gray main-row-slim">
            <div id="post-slider" class="postlist-stories post-slider carousel slide fade-effect">
                <div class="carousel-inner">
                    {% for depoimento in depoimentos %}
                        {% if loop.first %}
                            <article class="active item post clearfix">
                        {% else %}
                            <article class="item post clearfix">
                        {% endif %}
                            <span class="post-thumbnail"><img src="/uploads/{{ depoimento.foto }}" alt="{{ depoimento.titulo }}"></span>
                            <div class="entry-content">
                                <div class="entry-title-before" data-animate-in="fadeInDown" data-animate-out="fadeOutUp">Casos de sucesso</div>
                                <h2 class="entry-title" data-animate-in="fadeInLeft" data-animate-out="fadeOutRight"><a href="#">{{ depoimento.titulo }}<br><span>{{ depoimento.subtitulo }}</span></a></h2>
                                <p data-animate-in="fadeInLeft" data-animate-out="fadeOutRight">{{ depoimento.texto }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>

                <!-- Carousel indicators -->
                <ol class="carousel-indicators" data-animate-in="fadeInUp" data-animate-out="fadeOutDown">
                    {% for i in range(0, depoimentos|length -1) %}
                        {% if loop.first %}
                         <li data-target="#post-slider" data-slide-to="{{ i }}" class="active"></li>
                        {% else %}
                         <li data-target="#post-slider" data-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#post-slider" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#post-slider" data-slide="next">&rsaquo;</a>
            </div>
        </section>
        <!--/ PostList Slider -->

        <!-- PostList 3 Columns -->
        <section class="main-row" id="equipe">
            <div class="container">
                <div class="row postlist-3wide">
                    {% for professor in professors %}
                        <article class="col-sm-4 post">
                            <a class="post-thumbnail" href="#"><img src="uploads/{{ professor.foto }}" alt="{{ professor.nome }}"></a>
                            <h3 class="entry-title"><a href="#">{{ professor.nome }}</a></h3>
                            <div class="entry-content">
                                <p><strong>CREF: {{ professor.cref }}</strong></p>
                                <p>{{ professor.descricao }}</p>
                                {% if loop.first %}
                                <a href="https://www.linkedin.com/in/wagner-favale-b687a222">Linkedin</a>
                                {% endif %}
                            </div>
                            </article>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href="{{ path('formContato') }}" class="btn btn-transparent btn-padding-big" data-animate-in="fadeInUp" data-animate-out="fadeOutDown"><span>Entrar em contato</span></a>
                </div>
            </div>
        </section>
        <!--/ PostList 3 Columns -->


{% endblock %}