{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Depoimento</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary"/>
    {{ form_end(edit_form) }}

    <ul class="admin_botoes">
        <li>
            <a class="btn btn-default" href="{{ path('admin_depoimento_index') }}">Voltar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
