{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ post.titulo }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ post.texto }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if post.data %}{{ post.data|date('d/m/Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="admin_botoes">
        <li>
            <a href="{{ path('post_index') }}" class="btn btn-default">Voltar</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-default">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
